* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: sans-serif;
    font-size: 63.3%;
}

.container {
    width: 114rem;
    padding: .2rem;
    margin: auto;
}

h3 {
    font-size: 3rem;
    color: #b57f12;
}
button {
    font-size: 1.2rem;
    padding: .7rem;
    border-radius: .6rem;
    border: .1rem solid black;
    cursor: pointer;
}
button:hover {
    background: #aa9d9d;
    color: white;
    transition: all ease .3s;
}
#top-bar {
    padding: 1rem 0;
}
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#hero {
    background: url(./assets/Hero-bg.png);
    padding: 2rem 0;
}
.hero {
    margin: auto;
    width: 50rem;
    text-align: center;
}
h1 {
    font-size: 3rem;
    margin: 1rem 0;
}
.hero p {
    font-size: 1.4rem;
    line-height: 2rem;
    color: #7b7575;
    margin-bottom: .6rem;
}
.hero button {
    background: #000;
    color: white;
    padding: 1rem 1.6rem;
    font-size: 1.6rem;
}
.hero button:hover {
    background: #aa9d9d;
}

#why-web-dev {
    background: #f8f2f2;
    margin: 5rem 0;
    padding: 6rem;
    border-radius: 1rem;
}

.headline {
    text-align: center;
    margin-bottom: 4rem;
}
.headline h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.headline p {
    font-size: 1.7rem;
    line-height: 2.3rem;
    color: #a29393;
}

.point {
    background: linear-gradient(to right, white, #f8f2f2);
    padding: 3rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.point:nth-child(2) {
    background: linear-gradient(to right, #f8f2f2, white);
    justify-content: start;

}
.pic {
    margin-right: 3rem;
}

.texts h2 {
    font-size: 2.2rem;
    color: #4b4a4a;
    line-height: 2.6rem;
    font-weight: 700;
    
}

.texts p {
    font-size: 1.7rem;
    color: #c3c0c0;
    margin: 2rem 0;
    line-height: 2.4rem;
}
.texts button {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    font-weight: 800;
    border-radius: 0;
    color: #5c5b5b;
}

.my-inspiration {
    margin-bottom: 4rem;
}
.video {
    border: .1rem solid rgb(177, 176, 176);
    border-radius: 1rem;
    padding: 2rem;
}
.video img {
    width: 100%;
}
.current-target {
    display: flex;
    justify-content: space-between;
}
.targeted-topic {
    width: 35rem;
    background: #f6f9e8;
    padding: 3rem;
    border-radius: .5rem;
}
.targeted-topic:nth-child(2) {
    background: #f6e9fa;
}
h4 {
    font-size: 2rem;
    margin: 1.5rem 0;
    font-weight: 800;
}
.targeted-topic p,
.next-target p {
    font-size: 1.5rem;
    color: #7a7979;
    line-height: 2.5rem;
}
.lrn-more-btn {
    margin-top: 2rem;
}
.targeted-topic a, 
.next-target a {
    font-size: 1.6rem;
    font-weight: 600;
    color: #1e1d1d;
}
#next-target {
    margin-top: 6rem;
}
.next-topic {
    border: .1rem solid #b1b0b0;
    border-radius: 1rem;
    padding: 3rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 1.5rem;
}

#need-support {
    margin-top: 6rem;
    background: url(./assets/handshake.jpg), linear-gradient(to right, rgba(0,0,0,0.8), rgba(0, 0, 0, 0.5));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
}
.need-support {
    padding: 5rem;
    text-align: center;
}
.need-support h2 {
    color: white;
}
.need-support p {
    color: #e4e0e0;
}
.subscribe {
    display: flex;
   justify-content: center;
   gap: 1rem;
}
.subscribe .text input {
    font-size: 1.6rem;
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    width: 50rem;
}
.subscribe button {
    font-size: 1.6rem;
    padding: 1rem;
    border-radius: .5rem;
    border: none;
}
footer {
    background: #f4f9f8;
    padding: 2rem 0;
    margin-top: 6rem;
}
.contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h6 {
    font-size: 2rem;
    color: #4b4a4a;
}
.social {
    display: flex;
    gap: 1rem;
}